/* Add additional stylesheets below
-------------------------------------------------- */
html {
    font-size: 2em !important;
    margin-bottom: 20px;
}

a {
    text-decoration: none !important;
    color: grey;
}

#title {
    position: relative;
    float: left;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#event {
    position: relative;
    float: left;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    width: 30%;
    border-right: 1px solid black;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#maplist {
    position: relative;
    float: right;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 10px;
    width: 70%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#maplist p, #maplist h5 {
    white-space: pre-wrap;
}

#maplist form {
    float: right;
    position: relative;
    top: 0;
    right: 0;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 2%;
    padding: 9px;
    background-color: lightgrey;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#mydata, #myevents, #myroutes {
    position: relative;
    float: left;
    min-width: 30%;
    padding-left: 10px;
}

#myevents span {
    font-size: 1.6em;
}

#myevents p {
    font-size: 1em;
    margin: 0px;
    padding-left: 20px;
}

#eventdate {
    float: left;
    width: 145px;
    padding: 3px;
    margin-top: 10px;
    border-right: 1px lightgrey solid;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
}

#eventname {
    padding-left: 155px;
    line-height: 20px;
    margin-top: 10px;
    border-bottom: 1px solid lightgrey;
}

#eventname form {
    float: right;
    margin: 20px 0 0 10px;
}

li#eventlist {
    list-style-type: none;
    display: block;
    width: 100%;
}

li:after {
    clear: both;
}

#userlist {
    margin: 10px;
    padding: 3px;
    width: 206px;
    min-height: 184px;
    float: left;
    list-style: none;
    text-align: center;
    border: 1px solid lightgrey;
}

#userlist:hover {
    background-color: lightgrey;
    border: 1px solid black;
}

/* style for google maps */
#map {
    position: relative;
    float: left;
    height: 550px;
    width: 70%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#searchbox {
    position: absolute;
    top: 10px !important;
    left: 15%;
    height: 30px;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#right-panel {
    position: relative;
    float: right;
    height: 550px;
    width: 30%;
    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    border-right: 1px solid black;
}

#routeinfo {
    position: relative;
    float: left;
    height: 550px;
    width: 300px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#routemap {
    position: relative;
    float: right;
    height: 550px;
    width: 600px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#routelist td, #routelist th {
    padding-right: 20px;
}

#routelist th {
    line-height: 30px;
    vertical-align: middle;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

.form-row input {
    width: 220px;
    padding: 3px 1px;
}

.date-time input[type="date"] {
    width: 130px;
}

.date-time input[type="time"] {
    width: 85px;
}

.currency-style input {
    text-align: right;
}

[class*="animate-"] .ws-popover {
    overflow: visible;
}

[class*="animate-"] .ws-popover.ws-po-visible .ws-po-outerbox {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
}

.animate-2 .ws-popover {
    overflow: visible;
    -webkit-perspective: 600px;
    -webkit-transform-style: preserve-3d;
    perspective: 600px;
    transform-style: preserve-3d;
}

.animate-2 .ws-po-outerbox {
    -webkit-transform: rotateX(60deg);
    -webkit-transform-origin: 50% 0 0;
    transform: rotateX(-60deg);
    transform-origin: 50% -100% 0;
}

.animate-2 [data-vertical="bottom"] .ws-po-outerbox {
    -webkit-transform: rotateX(60deg);
    -webkit-transform-origin: -50% 100% 0;
    transform-origin: -50% 100% 0;
    transform: rotateX(60deg);
}



