<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${i18n('login.title')}">
    <form action="/login" method="post">
        <label>${i18n("login.name")}</label><br>
        <input type="text" name="username"><br><br>
        <label>${i18n("login.password")}</label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" name="login" id="login" value="${i18n('login.logmein')}">
    </form>
</@layout.myLayout>