<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${i18n('profile.title')}">
    <div id="mydata">
        <h1>${profile.name}</h1>
        <#if profile.imglink??><img src="${profile.imglink}" width="200"><br><br></#if>
        <#-- ID: ${profile.id}
        <
        br>-->
        Email: ${profile.email}<br>
        <#-- IsAdmin: ${profile.isadmin?c}
        <
        br>-->

    </div>
    <div id="myevents">
        <h2>${i18n("profile.events")}</h2>
        <#if events??>
            <#list events as event>
                <a href="/event/${event.id}"><span>${event.date?string["MM.dd"]} - ${event.name}</span></a>
                <#if event.etaps??>
                    <#list event.etaps as etap>
                        <#if subbedto?? && subbedto?seq_contains(etap.id)>
                            <p>- ${etap.dt?string["HH:mm"]} ${etap.etap.name}</p>
                        </#if>
                    </#list>
                </#if>
            </#list>
        </#if>
    </div>
    <div id="myroutes">
        <h2>${i18n("profile.routes")}</h2>

        <#if routes??>
            <div style="display: block; clear: both;">
                <#list routes as route>
                    <#if route.isactive == true>
                        <div style="display: block; clear: both;<#if user.id == profile.id>height: 80px;<#else>height: 40px;</#if>">
                            <div style="clear: both;">
                                <span style="line-height: 35px; font-size: 2em;">
                                    <a href="/route/${route.id}">${route.name}</a>
                                </span>
                                <#if route.ispublished == false>
                                    <span style="color: red">${i18n("profile.notpublic")}</span>
                                </#if>
                            </div>
                            <#if user.id == profile.id>
                                <div style="float: left;">
                                    <form method="get" action="/route/mod/${route.id}">
                                        <button>${i18n("profile.modify")}</button>&nbsp;&nbsp;
                                    </form>
                                </div>
                                <#if route.ispublished == false>
                                    <div style="float: left;">
                                        <form method="post" action="/route/del/${route.id}">
                                            <@authenticityForm/>
                                            <input type="submit" value="${i18n('profile.del')}"/>
                                        </form>
                                    </div>
                                </#if>
                            </#if>
                        </div>
                    </#if>
                </#list>
            </div>
        </#if>

        <#if user?? && user.id == profile.id>
            <div style="display: block; float: left; clear: both;">
                <a href="/route/new">${i18n("profile.add")}</a>
            </div>
        </#if>
    </div>
</@layout.myLayout>