<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${i18n('users.title')}">
    <#if users?? && session?? && session.username??>
        <#list users as user>
            <li id="userlist">
                <a href="/profile/${user.name}" style="margin: 0px; display: block; width: 100%; height: 100%;">
                    <#if user.imglink??><img src="${user.imglink}" height="128px" width="200px"></#if>
                    <h3>${user.name}</h3>
                </a>
            </li>
        </#list>
    </#if>
</@layout.myLayout>