<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${i18n('event.title')}">
    <#assign now = .now?time>
        <#setting locale="hu_HU">
            <form action="/event/addroute/${event.id}" method="post">
                <#if difference??>
                    <#list difference as etap>
                        <#if etap.ispublished == true>
                            <p><input type="radio" name="routeid" value="${etap.id}"/> ${etap.name}</p>
                        </#if>
                    </#list>
                </#if>
                <label for="time">${i18n('event.start')} ${event.date} indul </label>
                <input type="time" name="time" id="time" value="${now?iso_local_m_nz}">
                <input type="hidden" name="date" value="${event.date}"> órakor
                <@authenticityForm/>
                <br>
                <input type="submit" name="add" value="${i18n('event.addroute')}">
            </form>
    </@layout.myLayout>