<#import "../layout/defaultLayout.ftl.html" as layout/>
<@layout.myLayout "${i18n('events.title')}">
<#if events?? && events?size gt 0>
    <ul>
        <#list events as event>
            <#if event.ispublished == true || (user?? && user.isadmin == true)>
                <li id="eventlist">
                    <div id="eventrow">
                        <div id="eventdate">
                            ${event.date?string["YYYY"]}.<br>
                            ${event.date?string["MMMM"]} ${event.date?string["dd"]}.
                        </div>
                        <div id="eventname">
                            <span style="line-height: 70px; font-size: 2em;"><a
                                    href="/event/${event.id}">${event.name}</a></span>
                            <#if user?? && user.isadmin == true>
                                <#if event.ispublished == false>
                                    <form action="/delevent/${event.id}" method="post">
                                        <@authenticityForm/>
                                        <button>${i18n("events.delete")}</button>
                                    </form>
                                </#if>
                                <form action="/event/mod/${event.id}" method="get">
                                    <button>${i18n("events.modify")}</button>
                                </form>
                                <#if event.ispublished == false><span
                                        style="color: red">${i18n("events.notpublic")}</span></#if>
                            </#if>
                        </div>
                    </div>
                </li>
            </#if>
        </#list>
        <#if user?? && user.isadmin == true>
            <li id="eventlist"><span style="margin-left:110px; line-height: 50px;"><a href="/event/new">${i18n("events.addevent")}</a></span>
            </li>
        </#if>
    </ul>
<#else>
    <li id="eventlist">
        <p>
            <b>${i18n("events.noevents")}</b><br><br>
            <#if user?? && user.isadmin == true>
                <a href="/event/new">${i18n("events.addevent")}</a>
            </#if>
        </p>
    </li>
</#if>
</@layout.myLayout>