<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${i18n('event.title')}">
    <#if event?? && (event.ispublished == true  || user.isadmin == true)>
        <div id="title"><span style="line-height: 70px; font-size: 2em;">${event.name}</span></div>
        <div id="event">
            <h6>${event.date}</h6>
            <p>
                <#noescape>${event.description}</#noescape>
            </p>
        </div>

        <#if etaps?? && subbedetaps??>
            <div id="maplist">

                <#list etaps as etap>
                    <h4><a href="/route/${etap.etap.id}">${etap.etap.name}</a></h4>
                    <#if user?? && session?? && event.id??>
                        <form action="/user/addevent/${event.id}" method="post">
                            <input type="hidden" name="etapid" value="${etap.id}">
                            <input type="hidden" name="eventid" value="${event.id}">
                            <@authenticityForm/>
                            <input type="submit" name="addevent"
                                   value="${subbedetaps?seq_contains(etap.id)?string('Leiratkozás!', 'Feliratkozás!')}">

                        </form>

                    </#if>
                    <h6><b>${i18n('event.subbeduser')}</b>
                        <#if subbedusers??>
                            <#list subbedusers?keys as key>
                                <#if subbedusers[key]?? && key == etap.id?string>
                                    ${subbedusers[key]?string}
                                </#if>
                            </#list>
                        </#if>
                    </h6>
                    <h6><b>${i18n('event.starttime')}</b> ${etap.dt?string["HH:mm"]} óra</h6>
                    <p><b>${i18n('event.description')}</b><br><#noescape>${etap.etap.description}</#noescape>
                    </p>
                    <#if etap.etap.staticmap??>
                        <#assign startm>markers=color:green%7Clabel:I%7C${etap.etap.start.lat},${etap.etap.start.lng}
                        </#assign>
                        <#assign finishm>
                            markers=color:red%7Clabel:C%7C${etap.etap.destination.lat},${etap.etap.destination.lng}
                        </#assign>
                        <#assign wayp>
                            <#list etap.etap.waypoints as wp>&markers=color:yellow%7Csize:small%7C${wp.lat},${wp.lng}
                            </#list>
                        </#assign>
                        <#if etap.etap.staticmap??>
                            <img src="http://maps.googleapis.com/maps/api/staticmap?maptype=terrain&format=png32&size=600x200&${startm}&${finishm}${wayp}&path=weight:4%7Cenc:${etap.etap.staticmap}&key=AIzaSyBIe0Zp07SmjbFPsRsip8nrOPRJkY6HFms"
                                 alt="Google Map of ">
                        </#if>
                    </#if>
                    <hr/>
                </#list>
            </div>
        </#if>
    </#if>

</@layout.myLayout>