<#import "../layout/defaultLayout.ftl.html" as layout/>
<@layout.myLayout "${i18n('modevent.title')}">
<#assign now = .now>

    <#if event??>
        <div id="title"><h3>${event.name}</h3></div>
        <div id="event">
            <form action="/event/mod/${event.id}" method="post">
                <label for="name">${i18n("modevent.name")}</label><br>
                <input type="text" name="name" id="name" value="${event.name}"><br><br>
                <label for="description">${i18n("modevent.description")}</label><br>
                <textarea name="description" id="description" rows="8" cols="30"
                          maxlength="1000">${event.description}</textarea><br>
                <div class="form-row animate-2">
                    <label for="date">${i18n("modevent.date")}</label><br>
                    <input type="date" name="date" id="date" min="${now?iso_utc}" max="${maxdate?date?iso_utc}"
                           value="${event.date?iso_local}"><br><br>
                </div>
                <label for="ispublished">${i18n("modevent.ispublished")} </label>
                <input type="checkbox" name="ispublished" id="ispublished"
                <#if event.ispublished == true>checked</#if>
                ><br><br>
                <@authenticityForm/>
                <input type="submit" name="save" value=${i18n("modevent.save")}>
            </form>
        </div>
    </#if>
    <div id="maplist">
        <#if etaps??>
            <#list etaps as etap>
                <h4><a href="/route/${etap.etap.id}">${etap.etap.name}</a></h4>
                <h6>${etap.dt?string["HH:mm"]} óra</h6>
                <p><#noescape>${etap.etap.description}</#noescape></p>
                <#if etap.etap.staticmap??>
                    <#assign startm>markers=color:green%7Clabel:I%7C${etap.etap.start.lat},${etap.etap.start.lng}
                    </#assign>
                    <#assign finishm>
                        markers=color:red%7Clabel:C%7C${etap.etap.destination.lat},${etap.etap.destination.lng}
                    </#assign>
                    <#assign wayp>
                        <#list etap.etap.waypoints as wp>&markers=color:yellow%7Csize:small%7C${wp.lat},${wp.lng}
                        </#list>
                    </#assign>
                    <#if etap.etap.staticmap??>
                        <img src="http://maps.googleapis.com/maps/api/staticmap?maptype=terrain&format=png32&size=400x150&${startm}&${finishm}${wayp}&path=weight:4%7Cenc:${etap.etap.staticmap}&key=AIzaSyBIe0Zp07SmjbFPsRsip8nrOPRJkY6HFms"
                             alt="Google Map of ">
                    </#if>
                </#if>
                <form action="/event/deletap/${event.id}" method="post">
                    <input type="hidden" name="etapid" value="${etap.id}">
                    <input type="hidden" name="eventid" value="${event.id}">
                    <@authenticityForm/>
                    <input type="submit" name="deletap" value="${i18n('modevent.delete')}">

                </form>
                <hr/>

            </#list>
        </#if>
        <#if user?? && user.isadmin == true && difference?size gt 0>
            <form action="/event/addroute/${event.id}" method="get">
                <input type="submit" name="add" value="${i18n('modevent.addroute')}">
            </form>
            <#else>
                <p><b>Nem lehet több útvonalat hozzáadni!</b></p>
        </#if>

    </div>
</@layout.myLayout>