<#import "../layout/defaultLayout.ftl.html" as layout/>
<@layout.myLayout "${i18n('newevent.title')}">
<#assign now = .now?date>
    <form action="/event/new" method="post">
        <label for="name">${i18n("newevent.name")}</label><br>
        <input type="text" name="name" id="name"
        <#if name??>value="${name}"</#if>
        > <br><br>
        <label for="description">${i18n("newevent.description")}</label><br>
        <textarea name="description" id="description" rows="8" cols="50" maxlength="1000"><#if desc??>${desc}</#if></textarea><br>
        <div class="form-row animate-2">
            <label for="date">${i18n("newevent.date")}</label><br>
            <input type="date" name="date" class="date" id="date" min="${now?date?iso_utc}"
                   max="${maxdate?date?iso_utc}" value="${now?iso_utc}"><br><br>
        </div>
        <label for="ispublished">${i18n("newevent.ispublished")}</label>
        <input type="checkbox" name="ispublished" id="ispublished">
        <@authenticityForm/><br><br>
        <input type="submit" name="save" value=${i18n("newevent.add")}>
    </form>
    <a href="/events">${i18n("newevent.back")}</a>
</@layout.myLayout>