<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Error. Not found.">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        ${i18n('notfound.title')}</h2>
                    <div class="error-details">
                        ${i18n('notfound.text')}
                    </div>
                </div>
            </div>
        </div>
    </div>
</@layout.myLayout>