<div id="footer">
    <footer>
        <#if message??>
            <hr>
            ${message}
            <hr>
        </#if>
        <#if session?? && session.username??>
            <div style="float: left;">${i18n("footer.loggedinas")} <a href="/profile/${session.username}">${session.username}</a>
            </div>
        </#if>
        <div style="float: right;">
            ${i18n("footer.buildby")}<a href="http://www.soosbalazs.hu" target="_blank"> ${i18n("footer.createdby")}</a>.
        </div>
    </footer>
</div>