<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">${i18n("header.title")}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <#if session?? && session.username??>
                    <li class="active"><a href="/logout">${i18n("header.logout")}</a></li>
                    <#else>
                        <li class="active"><a href="/login">${i18n("header.login")}</a></li>
                </#if>
                <li class="active"><a href="/events">${i18n("header.events")}</a></li>
                <li class="active"><a href="/routes">${i18n("header.routes")}</a></li>
                <#if user??>
                    <li class="active"><a href="/profile/${user.name}">${i18n("header.profile")}</a></li>
                </#if>
                <#if user?? && user.isadmin == true>
                    <li class="active"><a href="/users">${i18n("header.users")}</a></li>
                </#if>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
<!-- cdn for modernizr, if you haven't included it already -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
<!-- polyfiller file to detect and load polyfills -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
<script>
    webshim.setOptions('waitReady', false);
    webshim.activeLang('hu');
    webshim.setOptions('forms-ext', {
        types: 'date',
        replaceUI: 'auto'
    });
    webshim.setOptions("forms-ext", {
        "widgets": {
            "startView": 2,
            "minView": 1,
            "noChangeDismiss": true,
            "buttonOnly": true
        }
    });
    webshim.polyfill('forms forms-ext');

</script>