<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${i18n('modroute.title')}">
    <input id="searchbox" class="controls" type="text" placeholder="${i18n('route.searchbox')}">
    <div id="map"></div>
    <#if route??>
        <div id="right-panel">
            <form action="/route/mod/${route.id}" method="post">
                <label for="name">${i18n('modroute.name')}</label><br>
                <input type="text" id="name" name="name" value="${route.name}"><br><br>
                <label for="description">${i18n('modroute.description')}</label><br>
                <textarea name="description" id="description" rows="8" cols="30"
                          maxlength="1000">${route.description}</textarea><br>
                <label for="ispublished">${i18n("modroute.ispublished")}</label>
                <input type="checkbox" name="ispublished" id="ispublished"
                <#if route.ispublished == true>checked</#if>
                ><br><br>
                <@authenticityForm/>
                <input type="submit" name="save" value="${i18n('modroute.save')}" id="save" style="width:120px;">
            </form>
            <br>
            <button id="clear" onclick="reloadMap();" style="width:120px;">${i18n('modroute.clear')}</button>
        </div>
    </#if>
    <script language="JavaScript" type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIe0Zp07SmjbFPsRsip8nrOPRJkY6HFms&libraries=places&callback=setmarkers">
    </script>
    <#setting locale="en_US">
        <script language="JavaScript" type="text/javascript">
            function setmarkers() {
                modurl = "/route/mod/${route.id}";
                markerlist.push([${route.start.lat?string.number}, ${route.start.lng?string.number}]);

            <#list
                route.waypoints as waypoint >
                markerlist.push([${waypoint.lat}, ${waypoint.lng}]);
            </#list >;

                markerlist.push([${route.destination.lat}, ${route.destination.lng}]);

                initMap();
            }
        </script>
    </@layout.myLayout>