<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${i18n('newroute.title')}">
    <input id="searchbox" class="controls" type="text" placeholder="${i18n('route.searchbox')}">
    <div id="map"></div>

    <div id="right-panel">
        <p>${i18n('newroute.legend')}</p>
        <p><b>${i18n('newroute.attention')}</b></p>
        <form action="/route/new" method="post" id="routeform">
            <label for="name">${i18n('newroute.name')}</label><br>
            <input type="text" id="name" name="name"><br><br>
            <label for="description">${i18n('newroute.description')}</label><br>
            <textarea name="description" id="description" rows="8" cols="30" maxlength="1000"></textarea><br>
            <label for="ispublished">${i18n("newevent.ispublished")}</label>
            <input type="checkbox" name="ispublished" id="ispublished"><br><br>
            <@authenticityForm/>
            <input type="submit" name="save" value="${i18n('newroute.save')}" id="save" style="width:120px;">
        </form>
        <br>
        <button id="clear" onclick="reloadMap();" style="width:120px;">${i18n('newroute.clear')}</button>
    </div>
    <script language="JavaScript" type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIe0Zp07SmjbFPsRsip8nrOPRJkY6HFms&libraries=places&callback=initMap">
    </script>
    <script language="JavaScript" type="text/javascript">
        modurl = "/route/new";
    </script>
</@layout.myLayout>