<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${i18n('route.title')}">
    <#if route??>
        <div id="routeinfo">
            <h3>${route.name}</h3>
            <p><b>${i18n('route.owner')}</b>
                <#if route.owner??>${route.owner.name}</#if>
            </p>
            <#if route.start.address??><p><b>${i18n('route.start')}</b><br>${route.start.address}</p></#if>
            <#if route.destination.address??><p><b>${i18n('route.finish')}</b><br>${route.destination.address}</p></#if>
            <#if route.distance??>
                <p><b>${i18n('route.distance')}</b>
                    <#assign x=route.distance/1000> ${x?string["0.##"]} km
                </p>
            </#if>
            <#if route.duration??>
                <p><b>${i18n('route.time')}</b>
                    <#assign z=route.duration/3600>
                        <#if z?floor != 0> ${z?floor} óra</#if>
                        <#assign y=((route.duration-z?floor*3600)/60)> ${y?floor} perc
                </p>
            </#if>
            <p><b>${i18n('route.description')}</b>
                <#noescape>${route.description}</#noescape>
            </p>
        </div>
        <div id="routemap">
            <#assign startm>markers=color:green%7Clabel:S%7C${route.start.lat},${route.start.lng}</#assign>
            <#assign finishm>markers=color:red%7Clabel:F%7C${route.destination.lat},${route.destination.lng}</#assign>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIe0Zp07SmjbFPsRsip8nrOPRJkY6HFms&callback=setmarkers">
            </script>
        </div>
        <#setting locale="en_US">
            <script language="JavaScript" type="text/javascript">
                function setmarkers() {
                    dragable = false;
                    element = 'routemap';
                    markerlist.push([${route.start.lat?string.number}, ${route.start.lng?string.number}]);

                <#list
                    route.waypoints as waypoint >
                    markerlist.push([${waypoint.lat}, ${waypoint.lng}]);
                </#list >;

                    markerlist.push([${route.destination.lat}, ${route.destination.lng}]);

                    initMap();
                }
            </script>
    </#if>
</@layout.myLayout>