<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${i18n('routes.title')}">
    <#if routes?? && routes?size gt 0>
        <table id="routelist">
            <tr>
                <th>${i18n('routes.name')}</th>
                <th>${i18n('routes.distance')}</th>
                <th>${i18n('routes.duration')}</th>
            </tr>
            <#list routes as route>
                <#if route.ispublished == true>
                    <tr style="height: 50px; line-height: 50px;">
                        <td><a href="/route/${route.id}" style="font-size:2em;">${route.name}</a></td>
                        <td><img src="/assets/img/distance.png" height="40px" width="40px">
                            <#assign x=route.distance/1000> ${x?string["0.##"]} ${i18n('routes.km')}
                        </td>
                        <td><img src="/assets/img/duration.png" height="30px" width="30px">
                            <#assign z=route.duration/3600>
                                <#if z?floor != 0> ${z?floor} ${i18n('routes.hour')}</#if>
                                <#assign y=((route.duration-z?floor*3600)/60)> ${y?floor} ${i18n('routes.minute')}
                        </td>
                    </tr>
                </#if>
            </#list>
        </table>
        <#else><b>${i18n('routes.noroutes')}</b>
    </#if>
</@layout.myLayout>